body{
	background: #0081b1;
}	

ul{
	list-style: none;
}

#contenedor_principal{
	font-family: Arial;
	font-weight: bold;
}

#contenedor_cuerpo{
	margin:0 auto;
	width: 960px;
}

label.text{
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
}

#box_drop_zone{
	background: #fff;
	padding: 10px;
}

#drop_zone{
	border: 5px dashed gray;
	text-align: center;
	overflow: hidden;
	padding: 50px 0;
}

#drop_zone_text{
	display: inline;
}

#box_tabla_outliers{
	margin: 10px 0;
    padding: 10px 0;
    background: #fff;
}

#data_column_x{
	float: left;
}

#data_column_y{
	float: right;
}

.data_x{
	float: left;
}

.data_y{
	float: right;	
}

.data_column, .data{		
	width: 50%;
	display:inline;
	text-align: center;
}

#box_tabla_outliers{
	overflow: hidden;
}
